@tailwind base;
@tailwind components;
@tailwind utilities;

.help {
    position: absolute;
    top: 60px;
    right: 60px;
}

.popup {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(-100%);
}

.popup.open {
    opacity: 1;
    transform: translateY(0);
}

.popup-close {
    position: absolute;
    top: 0;
    right: 0;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    background: rgba(0, 0, 0, 0.8);
}

.popup-item {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0em 0;
}

.popup-item p {
    color: white;
}

.popup-item-keys {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-item-key {
    display: inline-block;
    font-size: 0.7em;
    min-width: 24px;
    border: 1px solid transparent;
    border-bottom: 3px solid #a0a0a0;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 2px;

    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    min-width: 32px;
    min-height: 32px;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: white;
    color: black;
}